<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Récuperer les données d'un formulair</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="S'inscrire">
        <!--<input type="hidden" name="csrfmiddlewaretoken" value="1DSKm2krEu2iTs6G1mILZfnsKfmaMAvoq@0pa101dKbMnTG0TFM01JKoEMtQbg2">
        <table>
            <tr>
                <th><label for="id_pseudo">Pseudo:</label></th>
            </tr>
        </table>-->
    </form>
</body>
</html>